.app-lottery {
  position: relative;
  z-index: 3;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(0 , 0, 0, .3);
}

.lottery-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image-border {
  border: 2px dotted orange;
  padding: 2px;
}

.lottery-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12% 100px 0;
}

.lottery-button {
  display: block;
  margin: 30px auto 0;
  width: 240px;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: orange;
  color: rgb(170, 36, 27);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.lottery-button-stop {
  display: block;
  margin: 30px auto 0;
  width: 240px;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: orangered;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.lottery-button:focus, .lottery-button-stop:focus {
  outline: none;
}

.lottery-button:hover {
  background-color: orangered;
  color: #fff;
}