/*
 * @Author: lifan
 * @Date: 2018-10-30 16:16:50
 * @Last Modified by: lifan
 * @Last Modified time: 2019-01-26 09:46:09
 */
// 设计尺寸
$design-width: 1920px;
$design-height: 1080px;

// 颜色规范
$color-background: #000;
$color-text: #000;
$color-text-l: #777;

// 字体规范
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

// 媒体查询
$screen-xs: 480px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;
