.app-winners {
  background: rgb(252, 252, 252);
  border-radius: 6px;
  overflow: hidden;
}

.app-winners-title {
  height: 40px;
  line-height: 40px;
  text-indent: 20px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #444;
  background-color: #f2f2f2;
}

.app-winners-list {
  height: calc(100% - 130px);
  list-style: none;
  padding-left: 20px;
  margin: 0;
  overflow-x: hidden;
}

.app-winners-list-item {
  position: relative;
  display: flex;
  align-items: center;
  height: 76px;
  border-bottom: 1px dotted #eee;
}

.app-winners-list-item .list-index {
  display: block;
  margin-right: 20px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: gold;
  color: #fff;
  font-style: normal;
}

.app-winners-list-item .avatar {
  position: relative;
  display: block;
  width: 52px;
  height: 60px;
}

.app-winners-list-item .avatar img {
  width: 100%;
  height: auto;
  margin-top: 8px;
}

.app-winners-list-item .avatar i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app-winners-list-item .content {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.app-winners-list-item .content .winner-name {
  display: block;
  color: #c26e00;
  font-size: 16px;
  font-weight: bold;
}
.app-winners-list-item .content .award-name1 {
  display: block;
  margin-top: 2px;
  color: #333;
  font-size: 12px;
}

.award-image-s {
  position: absolute;
  right: 24px;
  top: 15px;
  width: 50px;
  height: 50px;
  
}

.app-winners-list-item .avatar .contribution-item-icon0 {
  background-image: url(../../assets/images/contribution-item-icon1.png);
}

.app-winners-list-item .avatar .contribution-item-icon1 {
  background-image: url(../../assets/images/contribution-item-icon2.png);
}

.app-winners-list-item .avatar .contribution-item-icon2 {
  background-image: url(../../assets/images/contribution-item-icon3.png);
}

.app-winners-list-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 81px;
  background-color: #f2f2f2;
}

.app-winners-list-footer button {
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #c41728;
  color: #f2f2f2;
}

.app-winners-list-footer button:focus {
  outline: none;
}