.bounce-in-bottom-enter {
  opacity: 0.01;
  transform: translateY(76px);
}

.bounce-in-bottom-enter.bounce-in-bottom-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 300ms ease-in-out;
}

.bounce-in-bottom-exit {
  opacity: 1;
}

.bounce-in-bottom-exit.bounce-in-bottom-exit-active {
  opacity: 0;
  transform: translateY(300px) rotate(-90deg);
  transition: all 300ms ease-in-out;
}
