.app-congratulation {
  position: absolute;
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
  color: yellow;
  font-weight: 520;
  animation: bound .75s;
}

.app-congratulation .desc {
  position: absolute;
  top: 65.5%;
  left: 38%;
  z-index: 102;
  font-size: 16px;
}

.app-congratulation .c0, .app-congratulation .c1, .app-congratulation .c2 {
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
  bottom: 0;
  z-index: 101;
	background-position: center center;
  background-size: 80% auto;
  background-repeat: no-repeat;
}

.app-congratulation .c0 {
  background-image: url(../../../assets/images/c0.png);
}
.app-congratulation .c1 {
  background-image: url(../../../assets/images/c1.png);
}
.app-congratulation .c2 {
  background-image: url(../../../assets/images/c2.png);
}

.app-congratulation::after {
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(60px);
  z-index: 3;
	background-image: url(../../../assets/images/bg.jpg);
	background-position: center top;
	background-size: cover;
	background-attachment: fixed;
}

@keyframes bound
{
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}


@keyframes bounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}