/*
 * @Author: lifan
 * @Date: 2019-01-26 08:57:09
 * @Last Modified by: lifan
 * @Last Modified time: 2019-01-26 14:46:01
 */
.app {
  position: relative;
  background-image: url(../../assets/images/app-background.jpg);
  background-repeat: no-repeat;
}
