.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../../assets/images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.app-title {
  margin: 40px 0 40px 0;
  color: #ccc;
  font-size: 36px;
  text-align: center;
  letter-spacing: 2px;
}