/*
 * @Author: lifan
 * @Date: 2019-01-27 14:59:28
 * @Last Modified by: lifan
 * @Last Modified time: 2019-01-27 20:42:17
 */
.title {
  position: absolute;
  top: 180px;
  left: 710px;
  width: 610px;
  height: 154px;
  background-size: 610px 154px;
  background-repeat: no-repeat;
}

.title_ {
  background-image: url(../../assets/images/title.png);
}

.title_0 {
  // background-image: url(../../assets/images/title.png);
}
.title_1 {
  // background-image: url(../../assets/images/title.png);
}
.title_2 {
  // background-image: url(../../assets/images/title.png);
}
.title_3 {
  // background-image: url(../../assets/images/title.png);
}
.title_4 {
  // background-image: url(../../assets/images/title.png);
}
