/*
 * @Author: lifan
 * @Date: 2019-01-27 14:59:28
 * @Last Modified by: lifan
 * @Last Modified time: 2019-01-27 15:00:40
 */
.title {
  position: absolute;
  width: 610px;
  height: 154px;
  background: red;
}
