/*
 * @Author: lifan
 * @Date: 2019-01-27 21:46:28
 * @Last Modified by: lifan
 * @Last Modified time: 2020-01-20 10:20:46
 */
.pig {
  position: absolute;
  top: 334px;
  left: 742px;
  width: 454px;
  height: 522px;
  background-image: url(../../assets/images/pig.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.eye {
  position: absolute;
  top: 176px;
  left: 272px;
  width: 58px;
  height: 58px;
  background-image: url(../../assets/images/eye.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.name-0,
.name-1,
.name-2 {
  position: absolute;
  display: inline-block;
  color: #efced0;
  font-size: 30px;
  // stylelint-disable font-family-no-missing-generic-family-keyword
  font-family: "hksn";
}

.name-0 {
  top: 385px;
  left: 184px;
  transform: rotate(19deg);
}

.name-1 {
  top: 403px;
  left: 248px;
  transform: rotate(10deg);
}

.name-2 {
  top: 411px;
  left: 310px;
  // transform: rotate(10deg);
}

.nose {
  position: absolute;
  top: 219px;
  left: 174px;
  width: 149px;
  height: 108px;
  background-image: url(../../assets/images/nose_up.png);
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    background-image: url(../../assets/images/nose_down.png);
  }
}

.noseActive {
  background-image: url(../../assets/images/nose_down.png);
}
