/*
 * @Author: lifan
 * @Date: 2019-01-29 17:04:22
 * @Last Modified by: lifan
 * @Last Modified time: 2019-01-29 23:05:58
 */
.winner {
  position: absolute;
  top: 375px;
  right: 265px;
  width: 346px;
  height: 454px;
  background-image: url(../../assets/images/winner_bg.png);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

.title {
  display: flex;
  justify-content: space-between;
  height: 44px;
  line-height: 44px;
  margin-bottom: 8px;
  padding: 0 14px;
  font-size: 18px;
  font-weight: bold;
  // color: yellow;
  -webkit-text-stroke: 0.7px red;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: yellow;
}

.list {
  // padding: 10px;
  height: 335px;
  overflow-x: hidden;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 14px;

  & + .item {
    border-top: 1px solid #d79b9c;
  }
}

.left {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 18px;
  font-weight: bold;
  -webkit-text-stroke: 0.8px red;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: yellow;
  margin-bottom: 10px;
}

.awardTitle {
  color: yellow;
  font-size: 14px;
}

.opera {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;

  button {
    width: 120px;
    height: 40px;
    background: #db3c3f;
    color: #fdfd05;

    &:active {
      color: #fff;
    }
  }
}
