/*
 * @Author: lifan
 * @Date: 2019-01-29 17:04:22
 * @Last Modified by: lifan
 * @Last Modified time: 2019-01-29 17:33:26
 */
.winner {
  position: absolute;
  top: 375px;
  right: 265px;
  width: 346px;
  height: 454px;
  background-image: url(../../assets/images/winner_bg.png);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.3);
}

.title {
  width: 100%;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  text-indent: 14px;
  font-weight: bold;
  // color: yellow;
  -webkit-text-stroke: 0.7px red;
  -webkit-font-smoothing: antialiased;
  -webkit-text-fill-color: yellow;

  // text-shadow:  1px 1px 0px red,
  // -1px -1px 0px red,
  // 2px 2px 0px red,
  // -2px -2px 0px red,
  // 3px 3px 0px red,
  // -3px -3px 0px red;
}
